* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  background-color: steelblue;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.empty {
  height: 150px;
  width: 150px;
  margin: 10px;
  border: 3px solid black;
  background-color: #fff;
}

.fill {
  background-image: url(../images/photo-1648603200279-944a55251a5e.jpg);
  height: 145px;
  width: 145px;
  cursor: pointer;
}

.hold {
  border: 5px solid #ccc;
}

.hovered {
  background-color: #333;
  border-style: dashed;
  border-color: #fff;
}

@media (max-width: 800px) {
  body {
    flex-direction: column;
  }
}
